body{
    background-color: rgb(254, 241, 225);
}

h1{
    color:#074d32;
}

h2{
    color:#074d32;
}

h3{
    color:#074d32;
}

h4{
    color:#074d32;
}

p{
    color:#046407;
}

ul{
    color:#046407
}
